.retring{
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btns{
    display: flex;

}
.btns button{
    margin: 0 15px;
    padding: 10px 15px;
    border: none;
    background-color: red;
    border-radius: 30px;
    color: white;
    font-size: 25px;
}